<div class="row" id="foot">
  <hr>
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">

    <div class="panel panel-default contact btn-footer">
      <div class="panel-body">

        <h1>About Gem It</h1>
        <h1 class="spacer">___</h1>
        <p>
          If you've ever worked on a ruby project and just needed a simple way to grab information from a website and use it then Gem It is here to help. All it takes are these four simple steps.
          <br><br>
          1. Sign in with <a href="/auth/github">Github</a> so we can set up a repo.<br>
          2. Submit the URL you want us to scrape from.<br>
          3. Click however many targets on that page you want.<br>
          4. Fill out some details.<br>
          <br>
          From there Gem It will use all of the information you provided to make a gem just for you and your projects.  All you'll have to do is add that gem to your Gemfile in Rails as, <code> gem YourGem, :git => 'git://github.com/YourGithubAccount/YourGem.git' </code> and use <code>YourGem::Magick.new.your_method</code> The new gem is also available in your command line.
        </p>

      </div>
    </div>
  </div>
</div>