<div class="row" id="foot">
  <hr>
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">

    <div class="panel panel-default contact btn-footer">
      <div class="panel-body">

        <h1>About Gem It</h1>
        <h1 class="spacer">___</h1>
        <p>
          If you've ever worked on a ruby project and just needed a simple way to grab information from a website and use it then Gem It is here to help.  All we need you to do is sign in with <a href="/auth/github">Github</a> so we can set up a repo, submit the URL you want us to scrape from, click however many targets on that page you want, fill out some details, and Gem It will make a gem just for you and your projects.  All you'll have to do is add that gem to your Gemfile in Rails and use YourGem.call.  Gem It is also available in your command line; just run <%= "<" %> gem install YourGem <%= ">" %> in terminal and call it simply as YourGem.
        </p>

      </div>
    </div>
  </div>
</div>