<div id="scroll-shadow"></div>

<section class="blog">
  <div class="media">
    <div class="media-body">
      <div class="panel panel-default contact btn-footer">
        <div class="panel-body">
        <h2>Is this the info you want? <span id="data"></span></h2>

        <%= render "gem_form" %>

        </div>
      </div>
    </div>
  </div>
</section>