<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
    <h1>Gem It</h1>
    <h1 class="spacer">___</h1>
    <p>You want a gem, and we want to make it for you. Enter the URL for the site you want to scrape here.</p>
    <div class="panel panel-default contact btn-footer">
      <div class="panel-body">

        <%= render "website_form" %>

      </div>
    </div>
  </div>
</div>