<div class="row" id="frame-bg">
  <div id="iframe-container-div">
    <iframe onload="addListenersToIframe()" class="website" src="<%= remove_public(@file.path) %>" height="600">
    </iframe>
  </div>

  <div class="media">
    <div class="media-body ">
      <div class="panel panel-default contact btn-footer ">
        <div class="panel-body right-column-height-fix">

        <div id="iframe-side-helper">
          <h2>Click on the data you're interested in from the left panel.</h2>
        </div>


        <div class="" id="tab-bar">
        <div class="container" id="container">
          <div class="row top">
            <div class="gem-form-tabs col-right">
              <nav>
                <ul class="list-inline" id="menu">
                  <li class="active">
                    <a href="#" class="switch-to-get-it">Get It</a>
                  </li>
                  <li>
                    <a href="#" class="switch-to-gem-it">Gem It</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
          <%= render "gem_form" %>
        </div>



        </div>
      </div>
    </div>
  </div>
  
</div>