<h2 id="info-check">Is this the info you want? <span id="data"></span></h2>

<div id="iframe-container-div">
  <iframe onload="addListenersToIframe()" class="website" src="<%= remove_public(@file.path) %>" height="800">
  </iframe>
</div>