<div id="scroll-shadow"></div>

<section class="blog">
  <div class="media">
    <div class="media-body">
      <div class="panel panel-default contact btn-footer">
        <div class="panel-body">

        	<%= render "iframe_side_helper" %>
        	<%= render "gem_form_column" %>

        </div>
      </div>
    </div>
  </div>
</section>