#tab-bar {
  display: none;
  overflow: auto;
  background-color: #f7f7f7;
}

#gem-info {
  display: none;
}

#gem-form-column {
  display: none;
}

.gem-it-btn {
  color: #fff;
  background-color: #e31b23;
  background-image: linear-gradient(#e31b23, #b32024);
  border: 1px solid #a00;
  border-bottom: 1px solid #9f081e;
}

.gem-it-btn:hover {
  color: #fafafa;
  background-color: #a00;
}

.gem-it-btn:focus {
  color: #fff;
}

.right-column-height-fix {
  height: 598px !important;
  padding-bottom: 0;
  overflow: auto;
  z-index: 3;
  border-radius: 0;
}
span.glyphicon {
  color: #4f4f4f;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

span.glyphicon:hover {
  color: #0f0f0f;
}

.gem-form-tabs {
  width: 23%;
  margin-right: 0 !important;
}

div.gem-form-tabs.col-right {
  margin-right: 0 !important;
}

.row.top .col-right nav .list-inline li {
  background-color: #fff;
}

.error-message {
  color: #d44950;
}

#nav-form {
  display: inline-block;
  width: 30%;
  opacity: 0;
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
          transition: opacity 1s;
  -webkit-transition-delay: 1s;        
     -moz-transition-delay: 1s;        
          transition-delay: 1s;        

  &.show-form {
    opacity: 1;
  }
  
  input[type='text'] {
    float: left; 
    width: 75%;

  }

  input[type='submit'] { 
    float: right; 
  }

  .btn {
    float: right;
    border-radius: 0px; 
    width: 25%;
  }
}