// Place all the styles related to the Gemifier controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.website {
  width: 100%;
  max-wdith: 800px;
  overflow: scroll;
  magin-top: 100px;
}

.footer-bar {
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

#iframe-container-div {
  width: 75%;
  float: left;
}