// Place all the styles related to the Gemifier controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.website {
  width: 100%;
  max-wdith: 800px;
  overflow: scroll;
  magin-top: 100px;
}


.iframe-absolute {
  position: absolute;
  z-index: -1;
}

.footer-bar {
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  &.top {
    -webkit-transform: translateY(-200px);
  }
}

#iframe-container-div {
  width: 75%;
  float: left;
}

#info-check {
  visibility: hidden;
}