// Place all the styles related to the Gemifier controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.website {
  width: 100%;
  max-wdith: 800px;
  overflow: scroll;
  magin-top: 100px;
}

#head {
  background:gray;
  -webkit-transition: 1s -webkit-transform;

  &.top {
    -webkit-transform: translateY(-200px);
  }
}

#foot {
  background: gray;
  height: 300px;
  width: 100%;
}

.iframe-absolute {
  position: absolute;
  z-index: -1;
}