#gem-methods p.lead.text-center{
  margin-top: 5px;
  margin-bottom: 10px;
}

.fa {
  position: static;
  font-size: 24px;
  float: left;
  width:0%;
}

i.fa.fa-align-left {
  margin-left: 5%;
  margin-right: 40%;
}

i.fa.fa-picture-o {
  margin-left: 40%;
}

.fa span {
  display: none;
  position: relative;
  font-size: 15px;
  padding: 0;
  top: -2px;
}

i.fa.fa-align-left:hover span {
  left: 0px;
}

i.fa.fa-link:hover span {
  left: -4px;
}

i.fa.fa-picture-o:hover span {
  left: -12px;
}

.fa:hover {
  color: #e31b23;
}

.fa:hover span {
  display: inherit;
}

.fa-icon-container {
  width: 60%;
  margin: auto;
  padding-bottom: 13%;
}

i.fa.fa-plus-square-o {
  width: 22px;
}

i.fa.fa-plus-square-o + span {
  display: none;
}

i.fa.fa-plus-square-o:hover + span {
  display: inline;
  color: #e31b23;
}

i.fa:hover, i.fa:hover span, i.fa:hover + span {
  cursor: pointer;
}