.modal-title#myModalLabel {
  font-family: 'Open Sans Condensed', sans-serif;
}

.modal-body {
  font-family: 'Lato', sans-serif;
}

.modal-body code {
  color: #e31b23;
}

#close-modal {
  border-radius: 0;
}