<div class="row" id="foot">
  <hr>
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
    <div class="panel panel-default contact btn-footer">
      <div class="panel-body">

        <h1>About Gem It</h1>
        <h1 class="spacer">___</h1>
        <div class="lead">
          Any gem you make with Gem It will be publicly available and stored in your Github repositories.  While your gem is a public repo, we do not push them to <a href="http://guides.rubygems.org/publishing/">RubyGems.  BUT you totally can and should if you want your mom and friends to be using it.</a> They'll love it, we promise.<br>
          <br>
          <b>How to use one of our gems</b><br>
            <code> git clone git@github.com:YourUserName/YourGem.git. </code>
            </br>
            <code> cd YourGem </code>
            </br>
            <code> sudo gem install YourGem </code><br>
          <br>
          This will install YourGem, giving you access to both its command line runner and the ability to require it within your Ruby applications.<br>
          <br>
          <b>Command Line</b><br>
          Just type <code>YourGem</code>.<br>
          <br>
          <b>Ruby</b><br>
          To require any gem made by us in a Ruby application, use:
          <br>
          <code>gem 'YourGem', :git => 'git@github.com:YourUserName/YourGem.git'</code><br>
          <br>
          Instantiate the gem by calling <code> YourGem::Magic.new.call</code>. Save that instance in a variable and call any of your defined methods on it.
        </div>

      </div>
    </div>
  </div>
</div>