<div id="gemify-navbar" class="row top">
  <div class="col-lg-12 col-md-12 col-sm-12 col-left">
    <div class="name">
    <span>
      <h1 class="clearfix" id="gemify-logo">Gem It</h1>
    </span>
    <div id="nav-form">
      <%= render 'nav_form' %>
    </div>
    <span class="gemify-navbar-text">
      <p>You want a gem, and we want to make it for you.</p>
    </span>
  </div>
  </div>
</div>